In [56]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

**Import the dataset**

In [57]:
data = pd.read_csv(filepath_or_buffer='./diabetes.csv')

In [58]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

**Extract X as all columns except the last column and Y as last column**

In [59]:
y = data.Outcome
x = data.drop('Outcome',axis=1)

In [60]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [61]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

**Visualize the dataset**

**Split the data into training set and testing set**

In [62]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
x_train.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
298,14,100,78,25,184,36.6,0.412,46
50,1,103,80,11,82,19.4,0.491,22
484,0,145,0,0,0,44.2,0.630,31
119,4,99,76,15,51,23.2,0.223,21
679,2,101,58,17,265,24.2,0.614,23

 **Logistic regression**