In [68]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression as lm

**1. Import the dataset**

In [69]:
data = pd.read_csv(filepath_or_buffer='./diabetes.csv')

In [70]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

**2. Extract X as all columns except the last column and Y as last column**

In [71]:
y = data.Outcome
x = data.drop('Outcome',axis=1)

In [72]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [73]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

**3. Visualize the dataset**

**4. Split the data into training set and testing set**

In [74]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
x_train.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
409,1,172,68,49,579,42.4,0.702,28
462,8,74,70,40,49,35.3,0.705,39
464,10,115,98,0,0,24.0,1.022,34
444,4,117,62,12,0,29.7,0.380,30
423,2,115,64,22,0,30.8,0.421,21

 **5. Logistic regression**

In [75]:
model=lm().fit(x_train,y_train)
#predictions=model.predict(x_test)

**6. Display the coefficients and form the logistic regression equation**

In [76]:
df_coefs = pd.DataFrame(model.coef_[0], index=x.columns, columns = ['Coefficient'])
df_coefs

                          Coefficient
Pregnancies                  0.018264
Glucose                      0.018264
BloodPressure                0.018264
SkinThickness                0.018264
Insulin                      0.018264
BMI                          0.018264
DiabetesPedigreeFunction     0.018264
Age                          0.018264

**7. Compute the accuracy and confusion matrix.**

**8. Plot the decision boundary.**

**9. Identify which of the following variables are positively associated with the target column.**

**10. For a woman aged 35 and mother of 2 children, predict and display the class, if her bmi was 35 instead of 24 according to the model?**